.boxnhap {
    padding-top: 20px;
    text-align: center;
    /*background-color: black;*/
}

.phatam {
    /*background-color: blue;*/
}

.allbody {
    height: 100%;
}

.all {
    background-color: #e9ecef;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dulieu {
    border: 1px solid black;
    margin-top: 15px;
    text-align: center;
        justify-content:center;


}

table.table-bordered>thead>tr>th {
    border: 1px solid black;
    text-align: center;
}

table.table-bordered>tbody>tr>td {
    border: 1px solid black;
    text-align: center;
        justify-content:center;


}